:root {
  --main-clr: #2ec4b6;
  --btn-clr: #2b998e;
  --btn-hover-clr: #106d64;
  --form-clr: #ffffff;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: var(--main-clr);
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

.homepage-container,
.signup-container,
.login-container,
.pwdchange-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 40px;
  background-color: var(--form-clr);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.homepage-container {
  width: 75%;
  height: 80%;
  max-width: 100%;
}

.signup-container {
  width: 33.3%;
  height: 600px;
  max-width: 100%;
}

.login-container {
  width: 33.3%;
  height: 350px;
  max-width: 100%;
}

.pwdchange-container {
  width: 33.3%;
  height: 400px;
  max-width: 100%;
}

h1 {
  padding: 20px 0;
}

h2 {
  padding-bottom: 20px;
}

.signup-form {
  padding: 30px 40px;
  width: 100%;
}

.form-elem {
  padding-bottom: 20px;
  position: relative;
}

.pwd-change {
  padding-top: 5px;
  font-size: 13px;
  text-decoration: none;
}

.form-elem label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-elem input {
  border: 1.5px solid #949393;
  border-radius: 5px;
  display: block;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}

button {
  background-color: var(--btn-clr);
  display: block;
  width: 100%;
  border: 2px solid var(--btn-clr);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10pxs;
  font-family: inherit;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: var(--btn-hover-clr);
  display: block;
  width: 100%;
  border: 2px solid var(--btn-hover-clr);
  border-radius: 5px;
  padding: 10px;
  font-family: inherit;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.navbar,
ul {
  display: flex;
}

li {
  padding: 30px;
  list-style-type: none;
  cursor: pointer;
}

ul li a {
  text-decoration: none;
  color: #000;
}

.navbar {
  background-color: #fff;
}

footer {
  position: absolute;
  bottom: 0;
  left: 38%;
}

#logo {
  padding: 28px;
  color: var(--main-clr);
}

li:hover {
  background-color: rgb(206, 205, 205);
}

.msg {
  padding-left: 150px;
  padding-top: 30px;
}

.error {
  color: #cf1818;
}

.success {
  color: #18cf36;
}

.index-intro {
  padding: 20px 40px 40px 40px;
}

.index-categories-list {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding-bottom: 50px;
}

.index-categories-list div {
  display: flex;
  width: 150px;
  height: 150px;
  background-color: rgb(206, 205, 205);
  justify-content: center;
  align-items: center;
}
